<div class="row">

  <div *ngIf="hasSearched && amiibos.length === 0;" class="alert alert-danger text-center">
    No products available with those search terms
  </div>

  <p *ngIf="hasSearched && amiibos.length > 1">Results found: {{amiibos.length}}</p>
  <div *ngFor="let amiibo of amiibos" class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <a [routerLink]="['/amiibos/by', amiibo.tail]" class="card-link">
      <div class="card text-center h-100 shadow bg-body rounded">
        <img src="{{amiibo.image}}" class="card-img-top mx-auto" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{amiibo.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Franchise: {{amiibo.gameSeries}}</li>
          <li class="list-group-item">Amiibo Series: {{amiibo.amiiboSeries}}</li>
        </ul>
      </div>
    </a>
  </div>
</div>